<html>
<head>
    <title>Logs</title>
</head>
<body>
    <h1>Logs</h1>
    <h2>Newest first</h2>
    <button onclick="fetch('/logs/', { method: 'DELETE' }).then(() => location.reload())">Clear Logs</button>
    <button onclick="fetch('/logs/', { method: 'POST' }).then(() => location.reload())">Add Spacer</button>
    <br/>
    <div id="logs">
        {% for log in logs %}
            {{ log | safe}}<br/>
        {% endfor %}
    </div>
    <script>
        const source = new EventSource("/logs/stream");
        const logDiv = document.getElementById("logs");
        source.onmessage = (e) => {
            logDiv.innerHTML = e.data + "<br>" + logDiv.innerHTML;
            logDiv.scrollTop = 0;
        };
    </script>
</body>
</html>